* {
    box-sizing: border-box; /* Inclut les marges */
}
body {
    width: 100%; /* Largeur complète */
    height: 100vh; /* Hauteur écran */
    margin: 0; /* Supprime marges */
}

header {
    font-family: Arial, sans-serif; /* Police simple */
    background-color: #3e2b2b; /* Couleur marron foncé */
}

.navbar1 {
    padding: 20px; /* Espacement interne */
    display: flex; /* Disposition flexible */
    justify-content: space-between; /* Espacement égal */
    gap: 10px; /* Espace entre éléments */
    flex-wrap: wrap; /* Retourne ligne si nécessaire */
}
ul {
    display: flex; /* Disposition en ligne */
    justify-content: space-between; /* Espacement égal */
    gap: 50px; /* Espace entre liens */
    flex-wrap: wrap; /* Retourne ligne si nécessaire */
    margin-right: 0px; /* Pas de marge droite */
}
a {
    text-decoration: none; /* Supprime soulignement */
    color: #D2B48C; /* Couleur marron */
    font-size: 18px; /* Taille texte */
    font-weight: bold; /* Texte en gras */
    margin-top: 14px; /* Espace haut */
}
main {
    background:#D2B48C;
}

h1 {
    color: #D2B48C;
    font-family: Playfair Display ;
    font-size: 30px;

}
/* Section principale */
main {
    padding: 20px;
}

/* Section des CGV */
.cgv {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titres des sections */
.cgv h2 {
    font-size: 1.5rem;
    color: #4E3B31;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Texte des sections */
.cgv p {
    font-size: 1rem;
    margin-bottom: 15px;
}


footer {
    font-family: Arial, sans-serif; /* Police simple */
    background-color: #3e2b2b; /* Couleur marron foncé */
}
.navbar2{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap; }
