* {
    box-sizing: border-box; /* Inclut les marges */
}
body {
    width: 100%; /* Largeur complète */
    height: 100vh; /* Hauteur écran */
    margin: 0; /* Supprime marges */
}

header {
    font-family: Arial, sans-serif; /* Police simple */
    background-color: #3e2b2b; /* Couleur marron foncé */
}

.navbar1 {
    padding: 20px; /* Espacement interne */
    display: flex; /* Disposition flexible */
    justify-content: space-between; /* Espacement égal */
    gap: 10px; /* Espace entre éléments */
    flex-wrap: wrap; /* Retourne ligne si nécessaire */
}
ul {
    display: flex; /* Disposition en ligne */
    justify-content: space-between; /* Espacement égal */
    gap: 50px; /* Espace entre liens */
    flex-wrap: wrap; /* Retourne ligne si nécessaire */
    margin-right: 0px; /* Pas de marge droite */
}
a {
    text-decoration: none; /* Supprime soulignement */
    color: #D2B48C; /* Couleur marron */
    font-size: 18px; /* Taille texte */
    font-weight: bold; /* Texte en gras */
    margin-top: 14px; /* Espace haut */
}
main {
    background:#D2B48C;
}

h1 {
    color: #D2B48C;
    font-family: Playfair Display ;
    font-size: 30px;

}
/* Section du formulaire de contact */
.contact-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 30px auto ;
}

/* Style des groupes de champs */
.form-group {
    margin-bottom: 15px;
}

/* Style des labels */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Style des champs de texte et textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Style du bouton */
button {
    background-color: #4E3B31;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e2b2b;
}

footer {
    font-family: Arial, sans-serif; /* Police simple */
    background-color: #3e2b2b; /* Couleur marron foncé */
}
.navbar2{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap; }
@media (max-width:768px){
    .contact-form{ 
        flex: 1 1 100%;
    }
       
}